*.DS_Store
.tmp
/*.dylib

setup.sh

build/*
!build/.gitkeep

libs/assimp/lib/*
!libs/assimp/lib/.gitkeep
libs/assimp/include/*
!libs/assimp/include/.gitkeep

assets/nanosuit/*
!assets/nanosuit/.gitkeep
